@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: right 51vw bottom 20vh, left 45vw top 50vh;
  font-size: 15px;
  font-family: "Kumbh Sans";
}

.card {
  background-color: white;
  border-radius: 30px;
  margin: 170px auto 50px;
  width: 25rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
}

.card-bio {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-weight: 700;
}

.card-top {
  height: 80px;
}

.card-top img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 25rem;
}

.card-bio span {
  color: hsl(0, 0%, 59%);
}
.card-middle p {
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.card-middle img {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  border-radius: 100px;
  border: 5px solid white;

  overflow: visible;
}

.card-middle {
  border-bottom: solid hsl(0, 0%, 59%);
}

.card-bottom {
  display: flex;
  justify-content: space-around;
}

.data {
  text-align: center;
}

.data-number {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: hsl(229, 23%, 23%);
}

.data-description {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1px;
}
