.attribution {
  font-size: 15px;
  text-align: center;
  padding: 1rem;
  line-height: 1.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

main {
  display: flex;
  width: 100%;
  max-width: 920px;
}
.card {
  padding-top: 4rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
  padding-left: 4rem;
}

.card-1 {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-2 {
  background-color: hsl(184, 100%, 22%);
}
.card-3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card img {
  margin-bottom: 2em;
}

h1 {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Big Shoulders Display";
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca";
  margin-bottom: 4rem;
  line-height: 1.5rem;
}

.card-1 .learn-more {
  color: hsl(31, 77%, 52%);
}
.card-2 .learn-more {
  color: hsl(184, 100%, 22%);
}

.card-3 .learn-more {
  color: hsl(179, 100%, 13%);
}
.learn-more {
  background-color: hsl(0, 0%, 95%);
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  border-radius: 35px;

  font-weight: 400;
  border: none;
  font-size: 1em;
}

.card-1 .learn-more:hover {
  border: 2px solid hsl(0, 0%, 95%);
  cursor: pointer;
  color: white;
  background-color: hsl(31, 77%, 52%);
}

.card-2 .learn-more:hover {
  border: 2px solid hsl(0, 0%, 95%);
  cursor: pointer;
  color: white;
  background-color: hsl(184, 100%, 22%);
}

.card-3 .learn-more:hover {
  border: 2px solid hsl(0, 0%, 95%);
  cursor: pointer;
  color: white;
  background-color: hsl(179, 100%, 13%);
}
