* {
  box-sizing: border-box;
}
body {
  display: block;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
  /* margin-left: 200px;
  margin-right: 200px; */
  background-color: #e0e8ff;
  margin: 0;
  font-size: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
main {
  display: block;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/* 
.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  max-width: 450px;
}

.card-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-summary h1 {
  font-weight: 900;
}

.card-summary {
  line-height: 2;
  font-weight: 400;
  padding: 0 2em;
}

.hero-image {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}

.payment-btn {
  background-color: hsl(245, 75%, 52%);
  padding: 1em 2.5em;
  font-weight: 700;
  color: white;
}

.btn {
  margin-bottom: 2em;
  border-radius: 20px;
}

.card-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f7ff;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 20px;
}

.card-price .music-icon {
  /* display: flex;
  justify-content: left;
  align-items: padding-left; */
  object-fit: contain;
} */
