* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  display: box;
}
html {
  display: box;
}
body {
  font-family: "Overpass", sans-serif;
  background: #121417;
  line-height: 1.6rem;
  font-size: 1.2rem;
  color: white;
}

div.star {
  background-color: #3a4655;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating {
  max-width: 550px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(279, 12%, 54%);
  border-radius: 30px;
  padding: 35px;
}
.rating .body {
  margin-top: 15px;
  color: black;
}
.rating .body h1 {
  margin-top: 2rem;
  color: yellow;
}
.rating p.message {
  color: #e60f7a;
  margin-bottom: 20px;
}

.rating .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 50px;
  /* flex-direction: row;
  padding: 30px;
  font-size: 2rem; */
}

.rating .buttons button {
  background-color: #3a4655;
  color: #959eac;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  font-size: 1.2rem;
  border: none;
  transition: all 500ms;
  cursor: pointer;
}
.rating .buttons button.error {
  border: 1px solid red;
}

.rating .buttons button.selected {
  background: #fb7413;
  color: white;
}
.rating .submit {
  font-family: "Overpass", sans-serif;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  background-color: #fb7413;
  border: none;
  padding: 15px;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.rating .body .error-message {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: red;
}

.rating #evaluation {
  text-align: center;
}

.rating .body img {
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.rating .select-message {
  padding: 10px 15px;
  color: #fb7413;
  background: #3a4655;
  display: inline-flex;
  margin-top: 3rem;
  margin-bottom: 1.1rem;
  border-radius: 50px;
}

.heading {
  margin-top: 3rem;
  color: green;
}

.rating p {
  color: orange;
  padding: 10px 15px;
  margin-top: 1rem;
  margin-bottom: 1.1rem;
  font-weight: 400;
}

.display-none {
  display: none;
}
