.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
main {
  height: 10vh;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
