.attribution {
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.attribution a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(277, 64%, 61%);
}
.attribution p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
div {
  display: block;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-weight: 400;
}
main {
  display: flex;
  min-width: 600px;
  z-index: 1;
  margin: 1em;
}

section {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5.85em 7em 5.85em 5.85em;
  width: 570px;
  min-width: 300px;
}

.card-heading {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 0.75em;
}

.card-heading span {
  color: hsl(277, 64%, 61%);
}

section .card-lead {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5rem;
  margin-bottom: 5em;
}
.card-content {
  margin-right: 2em;
}

.card-content h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

section ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  letter-spacing: 1px;
}
section li {
  display: list-item;
  color: hsla(0, 0%, 100%, 0.6);
}

.card-image {
  width: 540px;
  min-height: 10em;
  min-width: 200px;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  background-image: url(images/image-header-desktop.jpg);
}

.overlay {
  background: hsl(277deg, 100%, 50%, 0.42);
  height: 100%;
}

.overlay-2 {
  background: hsl(293deg, 42%, 35%, 0.24);
  height: 100%;
  mix-blend-mode: color-burn;
}
